<include file="Index/header" title="后台主页" />
<include file="Index/sidenav" title="后台主页" />
<div id="page-wrapper">
<!-- <div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    	<div class="row">
		<h1 class="text-center">欢迎来到后台管理系统</h1>
		<h3 class="text-center">Welcome to the superior back-end systems</h3>
	</div> -->
	<!-- <div class="row">
		<label></label>
	</div>
	<div class="row">
		<div class="col-md-4">
		  <div class="alert  alert-dismissible bgc1" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <span class="glyphicon glyphicon-cog font20" ></span><strong class="font20">系统信息</strong> <p><ul>
				<li>操作系统<span>WINNT</span></li><li>运行环境<span>Apache/2.4.9 (Win32) PHP/5.5.12</span></li><li>MYSQL版本<span>5.6.17</span></li><li>程序版本<span>A.1.0&nbsp;&nbsp;&nbsp;</span></li>
		</ul></p>
		</div>
		</div>
		<div class="col-md-4">
		  <div class="alert alert-dismissible bgc3 " role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <span class="glyphicon glyphicon-tags font20 mr5" ></span><strong class="font20">系统功能</strong> <p>
		  <ul>
				<li>用户管理</li>
	            <li>用户登陆注册</li>
	            <li>无限极分类</li>
	            <li>文章管理</li>
	            <li>单页管理</li>
		</ul></p>
		</div>
		</div>
		<div class="col-md-4">
		  <div class="alert alert-dismissible bgc2 " role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <span class="glyphicon glyphicon-bullhorn font20" ></span><strong class="font20">系统功能</strong> <p>
		  <ul>
				<li>用户管理</li>
	            <li>用户登陆注册</li>
	            <li>无限极分类</li>
	            <li>文章管理</li>
	            <li>单页管理</li>
		</ul></p>
		</div>
		</div>
	</div>

	<div class="row">
	  <div class="col-md-4">
		  <div class="alert alert-success alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <span class="glyphicon glyphicon-align-left font20" ></span><strong class="font20">MVC分层模式</strong> <p>使用MVC应用程序被分成三个核心部件：模型（M）、视图（V）、控制器（C），他不是一个新的概念，只是ThinkCMF将其发挥到了极致。</p>
		</div>
		</div>
	  <div class="col-md-4">
		  <div class="alert alert-info alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		   <span class="glyphicon glyphicon-wrench font20" ></span><strong class="font20">RBAC管理模式</strong><p>基于角色的访问控制(Role-Based Access Control),权限与角色相关联，用户通过成为适当角色的成员而得到这些角色的权限,极大地简化了权限的管理。</p>
		</div>
		</div>
	  <div class="col-md-4">
		  <div class="alert alert-danger alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		    <span class="glyphicon glyphicon-briefcase font20" ></span><strong class="font20">商家后台管理</strong><p>开设商家后台管理，商家管理人员可通过系统添加产品，以及商家的个人信息，地址，联系方式，以及相关数据的查看，通过快速管理产品，实现与客户更好的体验性。</p>
		</div>
		</div>
	</div>
	
      <p>
        <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="569705519@qq.com">联系我们</button>
      </p>
</div> -->
	
</div>

<include file="Index/footer"  />
<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>